<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" />
{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <link href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="" crossorigin="">
  
    <script src="https://frontend-components-dev.hmpps.service.justice.gov.uk/assets/js/header.js" nonce=""></script>
  
    <link href="https://frontend-components-dev.hmpps.service.justice.gov.uk/assets/stylesheets/header.css" nonce="" rel="stylesheet">
  
    <link href="https://frontend-components-dev.hmpps.service.justice.gov.uk/assets/stylesheets/footer.css" nonce="" rel="stylesheet">