{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/{{data.prototypeVersion}}/sentence-length-mismatch-select?route=remand-to-sentence"
      method="post">
      <div class="govuk-form-group">
        <div class="moj-interruption-card">
          <div class="moj-interruption-card__content">
            <h1 class="govuk-heading-l moj-interruption-card__heading" style="color: #ffff">Sentence length mismatch</h1>
            <div class="govuk-body-l moj-interruption-card__body">
              <p class="govuk-body">The sentence lengths you have entered total {{
          data.appearance['total-sentence-length-years'] }} years {{ data.appearance['total-sentence-length-months'] }}
          months {{ data.appearance['total-sentence-length-weeks'] }} weeks {{
          data.appearance['total-sentence-length-days'] }} days. </p>
        <p>This does not match the overall sentence length from the warrant, which is <br> {{
          data.appearance['overall-sentence-length-years'] }} years {{ data.appearance['overall-sentence-length-months']
          }} months {{ data.appearance['overall-sentence-length-weeks'] }} weeks {{
          data.appearance['overall-sentence-length-days'] }} days.</p>
          <p class="govuk-body">You can go back and review offences, or you can continue with sentence length mismatch.</p>
          <p class="govuk-body">If you continue, only a provisional calculation can be made.</p>
          <p class="govuk-body govuk-!-font-weight-bold">Do you want to continue?</p>
            </div>
            <div class="govuk-button-group moj-interruption-card__actions">
              <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                Yes, continue
            </button>
              <a class="govuk-link govuk-link--inverse" href="add-sentence-information">Go back to update offence outcomes</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}