{% extends "../../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/{{data.prototypeVersion}}/add-court-document" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Appearance {{ data.appearance['court-case-ref'] }} at {{ data.appearance['court-name'] }} on {{ data.appearance['warrant-date-day'] }}/{{ data.appearance['warrant-date-month'] }}/{{ data.appearance['warrant-date-year'] }}</span>
                            Upload {{data.appearance['document-type'] }}
                        </h1>
                    </legend>
                    <div id="file-upload-1-hint" class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-5">
                        You can upload .pdf, .jpg, .doc or .docx files.
                    </div>
                    <div class="govuk-form-group">
                        <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
                    </div>
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </div>
        </form>
    </div>
</div>
{% endblock %}